.posts {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  width: 1400px;
  gap: 3rem;
  justify-content: center;
  flex-direction: row;
}

@media (max-width: 768px) {
  .posts {
    width: 500px;
  }
}

@media (max-width: 375px) {
  .posts {
    justify-content: space-between;
  }
}
