.posts {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  width: 1400px;
  gap: 3rem;
  justify-content: center;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .posts {
    width: 500px;
  }
}