.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  font-size: 1em;
  line-height: 1rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 500px) {
  .menu {
    display: none;
  }
}

@media (hover: none) and (pointer: coarse) {
  .menu {
    display: none;
  }
}
