.hidden-background {
  min-width: 120%;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 1;
  transition: all 1s ease-in-out;
}

.hidden-menu {
  display: block;
  position: fixed;
  min-width: 18rem;
  list-style: none;
  height: 100%;
  background-color: white;
  border: 1px solid #e9e9e9;
  z-index: 2;
  transition: left 1s ease-in-out;
}

.hidden-menu-menu {
  padding: 0;
}

.hidden-menu-header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  border: 1px solid #e9e9e9;
}

.hidden-menu-item {
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.hidden-menu-item:not(:last-child) {
  border-bottom: 1px solid #e9e9e9;
}

.hidden-menu-header-cross {
  stroke: black;
}

.hidden-menu-header-logo svg {
  height: 24px;
}
