.logo {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

@media screen and (max-width: 500px) {
  .logo {
    display: none;
  }
}

@media screen and (hover: none) and (pointer: coarse) {
  .logo {
    display: none;
  }
}
