.menu-mobile {
  display: none;
  gap: 3rem;
  justify-content: space-around;
  height: 6rem;
  list-style: none;
  align-items: center;
  transition: all 1s ease-in-out;
}

.menu-mobile-logo {
  min-width: 11rem;
}

.menu-mobile-search {
  min-width: 3rem;
}

@media screen and (max-width: 580px) {
  .menu-mobile {
    display: flex;
  }
  .menu-mobile-logo {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .menu-mobile {
    justify-content: space-between;
  }
}

@media (hover: none) and (pointer: coarse) {
  .menu-mobile {
    display: flex;
  }
  .menu-mobile-logo {
    display: block;
  }
}