.modal {
  min-width: 120%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 2;
}

.modal-main {
  background-color: white;
  margin: auto;
  margin-top: 10%;
  min-width: 32rem;
  min-height: 22rem;
  max-width: 22.5rem;
  box-shadow: 5px 5px 15px 6px gray;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  height: 2rem;
  border-bottom: 1px solid #e9e9e9;
}

.modal-header-title {
  font-weight: 400;
}

.modal-header-cross {
  stroke: black;
  transition: stroke 0.3s ease-in-out;
}

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .modal-main {
    min-width: 350px;
  }
}

@media screen and (max-width: 375px) {
  .modal-main {
    min-width: 350px;
    margin: 10% 0% 0% 7%;
  }

  .modal-content-img img {
    width: 300px;
    height: 230px;
  }
}

@media screen and (max-width: 320px) {
  .modal-main {
    margin: 10% 0% 0% 4%;
  }

  .modal-content {
    width: 300px;
  }

  .modal-content-img img {
    width: 200px;
    height: 130px;
  }

  .modal-content-text {
    width: 200px;
  }
}
