.header {
  height: 8.75rem;
  position: sticky;
  position: -webkit-sticky; /* Для safari */
  top: 0px;
  background: white;
  transition: top 1s ease-in-out;
  z-index: 1;
}

@media (max-width: 500px) {
  .header {
    position: unset;
    height: 6rem;
  }
}
