.header {
  height: 8.75rem;
  position: sticky;
  position: -webkit-sticky; /* Для safari */
  top: 0px;
  background: white;
  transition: top 0.5s ease-in-out;
  z-index: 1;
}

@media screen and (max-width: 500px) {
  .header {
    position: unset;
    height: 6rem;
  }
}

@media screen and (hover: none) and (pointer: coarse) {
  .header {
    position: unset;
    height: 6rem;
  }
}
