.menu-search {
  display: flex;
}

.menu-search-input {
  width: 3rem;
  border: 0px;
  border-bottom: 1px solid black;
}

.menu-search-input:focus {
  outline: none;
}

.menu-search-button {
  transition: all 1s ease-in-out;
}

.menu-search-button {
}
